.heading {
  font-size: 2rem;

  &__one {
    margin: 10px auto;
    font-size: 1.7rem;
    color: #fff;
  }

  &__two {
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
  }

  &__three {
    overflow-x: hidden;
    color: #fff;
    white-space: nowrap;
  }

  &__video {
    font-size: 2.2rem;
    padding: 0 10px;
    margin: 10px auto;
    color: #fff;
  }
}
