.heading {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  border: 0;

  &__new {

  }

  &__edu {
  }

  &__ent {


  }

  &__one {
    text-align: left;
    font-size: 2rem;
    color: white;
  }
  }
