.videolist {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }

  &__video {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding: 0 10px;
    border: 0;
    height: 100%;
  }

  &__img{
    max-width: 100%;
  }

}
