.video-Container {
    display: flex;
    flex-direction: column;
     width:100%;
     height:100%;
     margin:1.25rem auto;
     background-color:#666;
     align-items: center;

  .video {
        align-self: center;
      	height: auto;
      }

.controls {
   width:100%;
   display: flex;
   justify-content: center;
}

.controls > * {
   margin-left:5px;
   
}
.controls > *:first-child {
   margin-left:0;

}

.controls button {



}

.controls button[data-state="play"] {
   background-image: url('data:img/play.svg');
}

.controls button[data-state="pause"] {
   background-image: url('data:img/pause.svg');
}

#playpause{
  background-image: url('img/play.svg')
}

#rew{
  background-image: url('img/back.svg')
}

#forward{
  background-image: url('img/next.svg')
}
#fs{
  background-image: url('img/fullscreen.svg');
}


  &__hidden {

  }



}
